*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),
    rgba(9,0,77,0.65)),url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 180px;
    cursor: pointer;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin:10px 20px ;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

.btn{
    padding: 20px 40px;
    background: #f5168d;
    border: 2px solid #fff;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 40px #f5168d;
    font-size: 32px;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.btn img{
    width: 30px;
    margin-right:10px;
}

.content{
    margin-top: 14%;
    color: #fff;
    max-width: 100%;
    background-color:rgba(58,68,82,0.5);
}

.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

.content p{
    font-size: 20px;
}
.content form{
    display: flex;
    align-items: center;
    background:#fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.content form input{
    border: 0;
    outline: 0;
    width:100%;
    font-size: 16px;
    padding-left: 10px;
}

.content form .btn1{
    font-size: 15px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    background: #f5168d;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.content h2{
    font-size: 45px;
    margin-top: 40px;
}

.content #colorChangeButton{
    display: inline-block;
    font-size: 15px;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    background: #f5168d;
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}


.container1{
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 40px 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}    
    

.calculator{
    background:#3a4452;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.container1 h1{
    font-size: 45px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 25px;
    padding: 40px 30px;
    color:#fff;
   
}

.calculator label{
    font-size: 40px;
    color:#fff;
    padding-left: 20px;
    
}


.calculator input{
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px ;
    margin: auto;
    display: block;
    display: grid;
}

.calculator button{
    font-size: 25px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    background: #f5168d;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin: auto;
    display: block;

}


.calculator p{
    margin: auto;
    display: flex;
    color:#fff;
    padding: 10px 25%;
    height: 60px;
    font-size: 20px;
    font-weight: 600;

}


