*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.content{
    min-height: 100vh;
    background: #fff;
    background-size: cover;
}

header {
    color: #fff;
    text-align: center;
    padding: 20px;
}


.intro, .highlights, .qualifications, .cta, footer {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.intro h2, .highlights h2, .qualifications h2, .cta h2, footer h2 {
    color: #0078d4;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078d4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #005a9e;
}


.logo img{
    width: 200px;
   text-align: center;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px;
    padding-left: 100px;
}

.navbar a{
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    margin: 0 20px;
    transition: 0.4s;
}

.navbar a:hover{
    text-decoration: underline;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    align-items: center;
    margin-top: 40px;
}

.main-text{
    color: #23239c;
    line-height: 3rem;
}

.main-text h1{
    font-size: 50px;
}

.main-image{
    max-width: 40%;
}

.main-image img{
    max-width: 100%;
    border: 5px solid #fff;
    border-radius: 10px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078d4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.about{
    text-align: center;
    padding: 0 30px;
    margin: 0 100px;
    color: #000;
    line-height: 2 rem;
}

.about h2{
    font-size: 40px;
    font-weight: 900;
}

.about-button{
    background-color: #23239c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 30px;
}


.form-container{
   text-align: center;
    padding: 100px 0;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    background: rgb(233, 238, 232);
    border-radius: 10px;
    padding: 20px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="subject"],

.form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form textarea{
    height: 150px;
}

::placeholder{
    color: #000;
    font-family: Arial;
}

.form button{
    background: #23239c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}